@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddAdmin</h2>


<h1>Yeni Admin Ekleme Sayfası</h1>
<br />

@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Admin Kullanıcı Adı")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        <br />
        @Html.Label("Şifreyi Giriniz")
        @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
        <br />
        @Html.Label("Rolü Seçiniz")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })

    </div>

    <br />

    <button class="btn btn-info" id="btn1">Kaydet</button>
    <a href="/Authorization/Index/" class="btn btn-outline-info" style="float:right" id="btnback">Geri Dön</a>

}

<script>
    $('#btn1').click(function () {
        swal("Tebrikler!", "Başarılı bir şekilde eklendi", "success");
    });
</script>

<script>
    $('#btnback').click(function () {
        swal({
            title: "Emin misin?",
            text: "Bilgilerin Kaybolacak!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Başlıklar Sayfına Yönlendiriliyor!", {
                        icon: "success",
                    });
                } else {
                    swal("Kayıta devam edebilirsin.");
                }
            });
</script>
