
@using EntityLayer.Concrete
@model List<Content>

<br />
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="timeline">
                            @foreach (var item in Model)
                            {
                            <br />
                                <div class="time-label">
                                    <span class="bg-success">@(((DateTime)item.ContentDate).ToString("dd-MMMM-yy"))</span>
                                </div>
                                <div>
                                    <i class="fas fa-comment bg-yellow"></i>
                                    <div class="timeline-item">
                                        <h3 class="timeline-header"><a href="#"><small>@item.Heading.HeadingName</small></a></h3>
                                        <div class="timeline-body">
                                            @item.ContentValue
                                        </div>
                                        <div class="timeline-item">
                                            <small><b> <i>- @item.Writer.WriterName @item.Writer.WriterSurName</i></b></small>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
